:root {
    --Text : #434455;
    --Dark: #2E2F42;
    --second-text-color: #fff;
    --Primary-Brand : #4D5AE5;
    --Light: #F4F4FD;
    --Pressed-state: #404BBF;
    --button-noactive: #F4F4FD;
    --Accent: #E7E9FC;
    --Success: #31D0AA;
    --Subtle-Text: #8E8F99;
    --Modal-overlay: #2E2F4266;
    --Hero-background: #2E2F42B2;

}

.body {
    font-family: Roboto, sans-serif;
    font-weight: regular;
    color: var(--Dark);
    background-color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.5;
    /*letter-spacing: 0.02em;*/
    text-decoration: none;

   
}

ul {
    list-style: none;
}

/*logo*/


.logo_first {
    color: var(--Primary-Brand);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.logo_second {
    color: var(--Dark);
 }

 
.site-nav .link {
    color: var(--Dark);
    letter-spacing: 0.02em;
    text-decoration: none;
    
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--Pressed-state);
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--Primary-Brand);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.addres-contact .link  {
    color: var(--Text);
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}

.addres-contact .link:hover,
.addres-contact .link:focus {
    color: var(--Pressed-state);
}
.fon-hero-title {
    background-color: var(--Dark);
    position: absolute;
    width: 1440px;
    height: 400px;
      
}

.hero-title {
    color: var(--second-text-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.button-main {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    font-style: Medium;
    letter-spacing: 0.04em;
    background-color: var(--Primary-Brand);
    text-align: center;
    cursor: pointer;
    color: var(--second-text-color);
    position: absolute;
    width: 169px;
    height: 56px;
    display: flex;
    align-items: center;
    }

.button-main:hover,
.button-main:focus {
    color: var(--second-text-color);
    background-color: var(--Pressed-state);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.section-title {
    color: var(--Dark);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   }

.section-description {
    color: #434455;
    letter-spacing: 0.02em;
}


.doing {
    color: var(--Dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    }

  
.teams {
    color: var(--Dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    }

.worker-fon {
    background-color: var(--Light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.worker {
    color: var(--Dark);

}
.team-job {
    color: var(--Text);
}

.button-nav-port {
    color: var(--Primary-Brand);
    background-color: var(--button-noactive);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
    border-color: var(--Accent);
    width: 116px;
    height: 48px;
}

.button-nav-port:hover,
.button-nav-port:focus  {
    color: var(--second-text-color);
    background-color: var(--Pressed-state);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.fon-photo {
    background-color: var(--second-text-color);
    border-color: var(--Accent);
}

.description {
    color: var(--Text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    color: var(--Accent);
    background-color: var(--Dark);

} 
.logo_second_footer {
    color: var(--button-noactive);
}





