:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --second-text-color: #fff;
    --accent-color: #4D5AE5;
    --fon-team-color: #F4F4FD;
    --button-active: #404BBF;
    --button-noactive: #F4F4FD;
    --footer-color: #E7E9FC;


}



.body {
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    background-color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;

   
}

ul {
    list-style: none;
}

/*logo*/


.logo_first {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.logo_second {
    color: var(--title-text-color);
 }

 
.site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;
    
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
    text-decoration: none;
}

.addres-contact .link  {
    color: var(--title-text-color);
    text-decoration: none;
    font-style: normal;
}

.addres-contact .link:hover,
.addres-contact .link:focus {
    color: var(--accent-color);
}

.hero-title {
    color: var(--second-text-color);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.button.primary {
    color: var(--second-text-color);
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--accent-color);
    background-color: var(--second-text-color);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.section-team {
    background-color: var(--fon-team-color);
}

.section-title {
    color: var(--title-text-color);
    font-size: 20px;
    line-height: 1.2;
   }

.hero {
    background-color: var(--title-text-color);
}

.doing {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    }

.teams {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    }
.team-job {
    color: var(--primary-text-color);
}


.button-nav-port {
    color: var(--accent-color);
    background-color: var(--footer-color);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.button-nav-port:hover,
.button-nav-port:focus  {
    color: var(--second-text-color);
    background-color: var(--button-active);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.04em;
}

.footer {
        color: var(--second-text-color);
    background-color: var(--title-text-color);


 
} 
.logo_second_footer {
    color: var(--fon-team-color);


}

.button-map {
        cursor: pointer;
        letter-spacing: 0.04em;
}


